<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <pipelines>
      <createPlaceholderSetting>
        <processor patch:after="*[@type='Sitecore.XA.Foundation.PlaceholderSettings.Pipelines.CreatePlaceholderSetting.GetSettingsRootItem, Sitecore.XA.Foundation.PlaceholderSettings']" type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.CreatePlaceholderSetting.EnsurePageDataFolderHasVersion, Sitecore.Support.303515" resolve="true" />
      </createPlaceholderSetting>
      <getPlaceholderSetting>
        <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetPlaceholderSetting.AddPageDataFolder, Sitecore.XA.Foundation.LocalDatasources" set:type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.GetPlaceholderSetting.AddPageDataFolder, Sitecore.Support.303515" />
      </getPlaceholderSetting>
      <getRenderingDatasource>
        <processor type="Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddPageDataFolder, Sitecore.XA.Foundation.LocalDatasources" set:type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.GetRenderingDatasource.AddPageDataFolder, Sitecore.Support.303515" />
      </getRenderingDatasource>
    </pipelines>
  </sitecore>
</configuration>